/*============================================
          Menu Style         
============================================*/

.categories {
    color: #555 !important;
    font-family: Lato;
    font-size: 20px;
    margin: 0 10px;
}

nav#nav-mobile,
#nav-trigger {
    transition: all 0.5s ease-in-out 0s;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    display: block !important;
    padding-right: 10px;
}


.fa-chevron-down::before {
    border: 1px solid #9c9c9c;
    border-radius: 50%;
    left: 10px;
    padding: 5px;
    position: relative;
}

.menu-secondary-container {
    display: none !important;
}

.menu-secondary.expanded,
nav#nav-mobile .menu-secondary {
    margin-top: 58px;
}

.menus,
.menus * {
    line-height: 1;
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.menu-secondary-container {
    background: #7b7b7b none repeat scroll 0 0;
    float: right;
    width: 60%;
}

.menus ul {
    position: absolute;
    top: -999em;
    width: 100%;
}

.menus ul li {
    width: 100%;
}

.menus li:hover {
    visibility: inherit;
}

.menus li {
    float: left;
    position: relative;
    width: 50%;
}

.menus a {
    display: block;
    position: relative;
}

.menu-secondary ul {
    min-width: 160px;
}

.menu-secondary li a {
    color: #fff;
    font-family: Lato;
    font-size: 10px;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 0;
    padding: 18px 15px;
    text-decoration: none;
    text-transform: uppercase;
}

.menu-secondary li a:hover {
    background: #434a54;
}

.menu-secondary li li a {
    background: #a90909 none repeat scroll 0 0;
    border-bottom: 1px solid #ddd;
    color: #fff;
    font-family: open sans;
    font-weight: 500;
    margin: 0;
    padding: 10px 15px;
    text-shadow: none;
    text-transform: uppercase;
}


nav#nav-mobile {
    display: none;
}

nav#nav-mobile ul {
    background-color: #fff;
    border-bottom: 1px solid #d2d2d2;
    border-top: 3px solid #434a54;
    display: none;
    left: 268px;
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 10px;
    width: 186px;
    z-index: 10;
}

nav#nav-mobile li:last-child {
    border-bottom: medium none;
}

nav#nav-mobile a {
    border-bottom: 1px solid #d2d2d2;
    color: #777777;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
}

nav#nav-mobile a:hover {
    color: #fff;
}

#nav-trigger {
    display: none;
    float: left;
    margin-left: 20px;
    padding: 5px 20px;
    text-align: center;
}

#nav-trigger span {
    color: #eee;
    line-height: 57px;
}

nav#nav-mobile {
    margin: 0;
}

nav#nav-mobile {}

.children.expanded a {
    color: #fff !important;
}

#nav-trigger span .fa {
    font-size: 18px;
}


/*============================================
       Menu Style  Top right        
============================================*/
.categories {
    color: #555 !important;
    font-family: Lato;
    font-size: 20px;
    margin: 0 10px;
}


#nav-trigger span:hover {
    cursor: pointer;
}

.fa-chevron-down::before {
    border: 1px solid #9c9c9c;
    border-radius: 50%;
    padding: 5px;
}

.nav-right .menu-secondary.expanded,
nav#nav-mobile .menu-secondary {
    margin-top: 58px;
}

.nav-right .menus,
.menus * {
    line-height: 1;
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.nav-right .menu-secondary-container {
    background: #7b7b7b none repeat scroll 0 0;
    float: right;
    width: 50%;
}

.nav-right .menus ul {
    position: absolute;
    top: -999em;
    width: 100%;
}

.nav-right .menus ul li {
    width: 100%;
}

.nav-right .menus li:hover {
    visibility: inherit;
}

.nav-right .menus li {
    float: left;
    position: relative;
    width: 50%;
}

.nav-right .menus a {
    display: block;
    position: relative;
}

.nav-right .menu-secondary ul {
    min-width: 160px;
}

.nav-right .menu-secondary li a {
    color: #fff;
    font-family: Lato;
    font-size: 10px;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 0;
    padding: 18px 15px;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-right .menu-secondary li li a {
    background: #a90909 none repeat scroll 0 0;
    border-bottom: 1px solid #ddd;
    color: #fff;
    font-family: open sans;
    font-weight: 500;
    margin: 0;
    padding: 10px 15px;
    text-shadow: none;
    text-transform: uppercase;
}


.nav-right nav#nav-mobile {}

.nav-right nav#nav-mobile ul {
    background-color: #fff;
    border-bottom: 1px solid #d2d2d2;
    border-top: 3px solid #434a54;
    display: none;
    left: 0;
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    position: absolute;
    right: 0;
    text-align: center;
    width: 17%;
    z-index: 10;
}

.nav-right nav#nav-mobile li:last-child {
    border-bottom: medium none;
}

.nav-right nav#nav-mobile a {
    border-bottom: 1px solid #d2d2d2;
    color: #777777;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
}

.nav-right nav#nav-mobile a:hover {
    color: #555;
}

.nav-right #nav-trigger {
    display: none;
    float: left;
    margin-left: 20px;
    text-align: center;
}

.nav-right #nav-trigger span {
    color: #eee;
    line-height: 57px;
}

.nav-right nav#nav-mobile {
    margin: 0;
}

.nav-right nav#nav-mobile {
    display: none;
}

.nav-right .children.expanded a {
    color: #fff !important;
}

.nav-right #nav-trigger span .fa {
    color: #434a54;
    font-size: 45px;
    padding: 7px 0;
}

/*============================================
Css Menu Right Top 
============================================*/


@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#cssmenu .fa-align-justify::before {
    transition: all 0.5s ease-in-out 0s;
    font-size: 39px;
}

#cssmenu .fa-align-justify:hover,
.fa-chevron-right:hover {
    cursor: pointer;
    color: #fff;
}

#cssmenu .fa-chevron-right {
    left: -1px;
    position: relative;
    top: -8px;
    transition: all 0.5s ease-in-out 0s;
}

#cssmenu .fa-chevron-right:hover {
    transform: rotate(180deg);
}

#cssmenu:after,
#cssmenu>ul:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

#cssmenu #menu-button {
    display: visible;
}

#cssmenu {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    float: right;
    font-family: Montserrat, sans-serif;
    height: 67px;
    padding: 15px 34px;
    transition: all 0.5s ease-in-out 0s;
    width: 125px;
}

#cssmenu:hover {
    background: #434a54;
}

#cssmenu>ul>li {
    float: left;
}

#cssmenu.align-center>ul {
    font-size: 0;
    text-align: center;
}

#cssmenu.align-center>ul>li {
    display: inline-block;
    float: none;
}

#cssmenu.align-center ul ul {
    text-align: left;
}

#cssmenu.align-right>ul>li {
    float: right;
}

#cssmenu>ul>li>a {
    padding: 17px;
    font-size: 12px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #dddddd;
    font-weight: 700;
    text-transform: uppercase;
}

#cssmenu>ul>li:hover>a {
    color: #ffffff;
}

#cssmenu>ul>li.has-sub>a {
    padding-right: 30px;
}

#cssmenu>ul>li.has-sub>a:after {
    position: absolute;
    top: 22px;
    right: 11px;
    width: 8px;
    height: 2px;
    display: block;
    background: #dddddd;
    content: '';
}

#cssmenu>ul>li.has-sub>a:before {
    position: absolute;
    top: 19px;
    right: 14px;
    display: block;
    width: 2px;
    height: 8px;
    background: #dddddd;
    content: '';
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

#cssmenu>ul>li.has-sub:hover>a:before {
    top: 23px;
    height: 0;
}

#cssmenu ul ul {
    position: absolute;
    left: -9999px;
}

#cssmenu.align-right ul ul {
    text-align: right;
}

#cssmenu ul ul li {
    left: -34px;
    position: relative;
    height: 0;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

#cssmenu li:hover>ul {
    left: auto;
}

#cssmenu.align-right li:hover>ul {
    left: auto;
    right: 0;
}

#cssmenu li:hover>ul>li {
    height: 35px;
}

#cssmenu ul ul ul {
    margin-left: 100%;
    top: 0;
}

#cssmenu.align-right ul ul ul {
    margin-left: 0;
    margin-right: 100%;
}

#cssmenu ul ul li a {
    background: #434a54 none repeat scroll 0 0;
    border-bottom: 1px solid rgba(150, 150, 150, 0.15);
    color: #dddddd;
    font-size: 12px;
    font-weight: 400;
    padding: 11px 15px;
    text-decoration: none;
    width: 124px;
    z-index: 111;
}

#cssmenu ul ul li:last-child>a,
#cssmenu ul ul li.last-item>a {
    border-bottom: 0;
}

#cssmenu ul ul li:hover>a,
#cssmenu ul ul li a:hover {
    color: #ffffff;
}

#cssmenu ul ul li.has-sub>a:after {
    position: absolute;
    top: 16px;
    right: 11px;
    width: 8px;
    height: 2px;
    display: block;
    background: #dddddd;
    content: '';
}

#cssmenu.align-right ul ul li.has-sub>a:after {
    right: auto;
    left: 11px;
}

#cssmenu ul ul li.has-sub>a:before {
    position: absolute;
    top: 13px;
    right: 14px;
    display: block;
    width: 2px;
    height: 8px;
    background: #dddddd;
    content: '';
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

#cssmenu.align-right ul ul li.has-sub>a:before {
    right: auto;
    left: 14px;
}

#cssmenu ul ul>li.has-sub:hover>a:before {
    top: 17px;
    height: 0;
}