/*
!-- Change Background Image --> 
*/

.tv {
    background-attachment: fixed;
    background-image: url('http://3.bp.blogspot.com/-VDlTde1M2V4/VpzNQzTuULI/AAAAAAAADQ0/73ozDg0Jlo4/s000/slide-01.jpg');
    background-position: center top;
    background-size: cover;
    height: 600px;
}


.tv .tv-unit {
    text-align: center;
    margin-top: 150px;
}


.tv .tv-unit .big-title {
    color: #fff;
    font-family: 'Lato';
    font-size: 3.5rem;
    font-weight: 700;
    text-shadow: 0.3rem 0.3rem 0.1rem rgb(50 50 50 / 59%);
    text-transform: uppercase;
}

.tv .tv-unit .sub-title {
    display: block;
    color: #fff;
   
    font-size: 1rem;
    font-style: italic;
    text-shadow: 0.1rem 0.02rem black;
    text-transform: capitalize;
    letter-spacing: .1rem;
   
    padding: 1.25em 0;
    margin-bottom: 0.8rem;
}

.tv .tv-unit .sub-title:before,
.tv .tv-unit .sub-title:after {
    content: '';
    display: block;
    height: 1px;
    width: 40%;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0 auto 20px;
}

.tv .tv-unit .sub-title:before {
    margin: 0 auto 20px;
}

.tv .tv-unit .sub-title:after {
    margin: 20px auto 0;
}

.tv .tv-unit .sub-title2 {
    display: block;
    color: #fff;
    font-size: .8em;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 20px 0;
    margin-bottom: 10px;
}

.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after {
    content: " ";
    display: table;
}

.button.big {
    background-color: #fafafa;
    color: #555;
    padding: 15px 60px;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 1s ease 0s;
}

.button.big:hover {
    color: #fff;
    background-color: #434a54;
    padding: 15px 60px;
}

.boldname {
    color: white;
    text-shadow: 5px 0 0;
}



/****************/
.clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    overflow: hidden
}

#container,
#header,
#main,
#main-fullwidth,
#footer,
.clearfix {
    display: block
}

.clear {
    clear: both
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 16px;
    font-weight: normal;
    line-height: 1
}

h1 {
    font-size: 40px
}

h2 {
    font-size: 30px
}

h3 {
    font-size: 20px
}

h4 {
    font-size: 16px
}

h5 {
    font-size: 14px
}

h6 {
    font-size: 12px
}

h1 img,
h2 img,
h3 img,
h4 img,
h5 img,
h6 img {
    margin: 0
}

table {
    margin-bottom: 20px;
    width: 100%
}

th {
    font-weight: bold
}

thead th {
    background: #c3d9ff
}

th,
td,
caption {
    padding: 4px 10px 4px 5px
}

tr.even td {
    background: #e5ecf9
}

tfoot {
    font-style: italic
}

caption {
    background: #eee
}

li ul,
li ol {
    margin: 0
}

ul,
ol {
    margin: 0 20px 20px 0;
    padding-left: 40px
}

ul {
    list-style-type: disc
}

ol {
    list-style-type: decimal
}

dl {
    margin: 0 0 20px 0
}

dl dt {
    font-weight: bold
}

dd {
    margin-left: 20px
}

pre {
    margin: 20px 0;
    white-space: pre
}

pre,
code,
tt {
    font: 13px 'andale mono', 'lucida console', monospace;
    line-height: 18px
}

#search {
    overflow: hidden;
}

#footer-widgets .widgettitle {
    font-family: 'Oswald', sans-serif;
}

div.item-snippet {
    text-transform: capitalize;
}

.PopularPosts .widget-content ul li {
    padding: 0.7em 0;
    background: none;
    border-bottom: 1px solid #ddd;
}

.widget-container {
    list-style-type: none;
    list-style: none;
    margin: 0 0 15px 0;
    padding: 0;
    color: #374142;
    font-size: 13px
}

.widget-container2 {
    list-style-type: none;
    list-style: none;
    margin: 5px 15px 10px 0px;
    padding: 0;
    color: #374142;
    font-size: 13px
}

.joom {
    color: #fff !important;
}

.backmode {
    background: #434a54 !important;
}

.urClass {
    color: #fff !important;
    
}

.body2colorClass {
    transform: rotate(180deg);
}

/*****************/